.about-us{
	background: url(../img/dance_7.jpg) no-repeat;
	background-size: 140%;
	height: 470px;
	padding: 30px;
	margin-top: 40px;

}

.about{
	background-color: #1D1E19;
	opacity: 0.5;
	width: 40%;
	height: 28%;
	display: inline-block;
	margin: auto;
	padding: 4%;	
}

.about-col{
	margin-top: 21%;
}

.text-about-one{
	color: #FCFAFA;
	margin-bottom: 15px;
	font-size: 20px;
}

.text-about-two{
	color: #ACACA9;
}

.pilar, .quote{
	background: url(../img/cubes.png);
}

.pil{
	padding-top: 10%;
	height: 300px;
}

.line{
	font-size: 20px;
	padding-bottom: 8%;
	border-bottom: 2px solid grey;
	margin: 0px 40px;
}

.pil p{
	padding: 20px 40px;
	font-size: 14px;
}

/* Serie de foto de instructores a las que todavía no le encuentro el ajuste para que no se deformen al dejarlas del mismo tamaño */

.content-cont{
	padding: 60px;
}

.photo{
	height: 180px;
	transform: scale(0,7,0.3);
	padding: 30px 0px;
}

/* Fin serie fotos de instructores */

.quote-one{
	height: 300px;
} 

.quote-one p{
	font-size: 30px;
	margin: 120px 0px;
}













